<head>
  <title>Breddit</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
    *{
      padding: 0;
      margin: 0;
    }
    body {
      padding: 0;
      margin: 0;
    }
    #body {
      background-color: #0405509c;
      width: 100%;
      height: 100vh;
      display: grid;
    }
    a:visited {
      color: white;
    }
    a:hover {
      color: rgba(255, 255, 255, 0.7);
    }
    #form {
      justify-self: center;
      align-self: center;
    }
    .button_to {
      float: right;
      margin-top: -42px;
      margin-right: -4px;
      height: 40px;
      width: 50%;
    }
    .actions {
      width: 100%;
    }
    p {
      font-size: 24px;
      color: white;
      text-align: center;
      padding: 20px 0;
    }
    input{
      background-color: rgba(255, 255, 255, 0.3);
      color: white;
      font-size: 24px;
      width: 100%;
    }
  </style>
</head>

<div id="body">
  <div id="form">
    <%= form_tag sessions_path do |form| %>
      <div class="field">
        <%= text_field_tag :iduser, value = "", required: true, :placeholder => "personal id" %>
      </div>
      <div class="field">
        <%= password_field_tag :password, value = "", required: true, :placeholder => "password" %>
      </div>
      <div class="actions">
        <%= submit_tag "Login" %>
      </div>
    <% end %>
  <p id="alert">
    <%= alert %>
  </p>
  </div>
</div>
