<head>
  <title>Werahouse</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
    *{
      padding: 0;
      margin: 0;
    }
    body {
      padding: 0;
      margin: 0;
    }
    header{
      padding: 18px;
      margin-bottom: 50px;
      color: white;
      background-color: #0405509c;
      min-height: 30px;
      font-size: 24px;
    }
    p {
      font-size: 24px;
      background: rgba(255, 255, 255, 0.3);
      text-align: left;
      padding: 20px 0;
    }
    table{
      margin: 0 auto;
      min-width: 50vw;
    }
    td{
      border: 2px solid;
    }
    #left-header{
      background-color: #04055000;
      padding: 0;
      float: left;
    }
    #right-header{
      background-color: #04055000;
      padding: 0;
      float: right;
    }
    a.link-logout{
      color: white;
    }
  </style>
</head>


<header>
  <p id="left-header">
    <%= User.where(:iduser =>current_user.iduser).first.name %>
    <%= User.where(:iduser =>current_user.iduser).first.surname %>
    <%= User.where(:iduser =>current_user.iduser).first.patronymic %>
  </p>
  <p id="right-header">
    <%= link_to "Log Out", logout_path, class: "link-logout" %>
  </p>
</header>

<div id="user-tables">
  <table>
    <% Product.all.each do |product| %>
      <tr>
        <td>Title: <%= product.title%></td>
        <td>Barcode: <%= product.barcode%></td>
        <td>Massa: <%= product.massa%></td>
        <td>Production date: <%= product.production%></td>
        <td>Expiration date: <%= product.expiration%></td>
      </tr>
    <% end %>
  </table>
</div>


